*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/wrapper
/.idea
/*.iml
/build
/.gradle
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/src/docs/*.html
/src/docs/*.xml
/src/docs/*.pdf